:root {
    --primary-text-color-dark: #212121;
    --primary-text-color-light: #FFFF0F;
    --secondary-text-color-dark: #757575;
    --button-active-color: #2196F3;
    --button-background-color: #F5F4FA;
    --bg-color-dark: #2F303A;
    --bg-color-light: #ffffff;
    --primary-font-family: 'Roboto',
        sans-serif;
    --secondary-font-family: 'Raleway',
        sans-serif;
    --logo-span-color: #2196F3;
    --logo-main-color: #000000;
--

}


body {
    font-family: var(--primary-font-family);
    color: var(--primary-text-color-dark);
}

.logo {
    font-family: var(--secondary-font-family);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.logo-span {
    color: var(--logo-span-color);
}

.logo-main {
    color: var(--logo-main-color);
}

.logo-light {
    color: var(--primary-text-color-light);
}

.navigation-list,
.contact-list {  
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

}

.navigation-list-link {
    color: var(--primary-text-color-dark);
}

.contact-list-link {
    color: var(--secondary-text-color-dark);
   /* font-size: 14px;
    font-weight: 500;
    line-height: 1.1;*/
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.link:hover,
.link:focus {
    color: var(--button-active-color);
}


.hero {
    background-color: var(--bg-color-dark);
}

.main-title {
    color: var(--primary-text-color-light);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
}

.hero-button {
    background-color: var(--button-active-color);
    color: var(--primary-text-color-light);
    font-family: var(--primary-font-family);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    cursor: pointer;
}

.specialty-subtitle {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.specialty-description {
    font-size: 14px;
    color: var(--secondary-text-color-dark);
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.services-title,
.team-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.team-list-item-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.team-list-item-description {
    font-size: 14px;
    color: var(--secondary-text-color-dark);
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.contacts {
    background-color: var(--bg-color-dark);
}

.address-list-item {
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    letter-spacing: 0.03em;
}
.address-list-item-map {
    color: var(--primary-text-color-light);
}

.address-list-item-link {
    color: rgba(255, 255, 255, 0.6);
}

.filter-btn {
    font-family: var(--primary-font-family);
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-text-color-dark);
    background-color: var(--button-background-color);
    line-height: 1.63;
    border-style: none;
    cursor: pointer;
    letter-spacing: 0.03em;
}

.filter-btn:hover,
.filter-btn:focus {
    color: var(--primary-text-color-light);
    background-color: var(--button-active-color);
}

.project-list-item-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;

}

.project-list-item-descr {
    font-size: 16px;
    color: var(--secondary-text-color-dark);
    line-height: 1.88;
    letter-spacing: 0.03em;
}